<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/branding/logos/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/branding/logos/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/assets/branding/logos/favicon/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/branding/logos/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/branding/logos/favicon/favicon-16x16.png">
<link rel="mask-icon" href="/assets/branding/logos/favicon/safari-pinned-tab.svg" color="#ad9d3f">
<link rel="shortcut icon" href="/assets/branding/logos/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Chill Development">
<meta name="application-name" content="Chill Development">
<meta name="msapplication-TileColor" content="#666666">
<meta name="msapplication-TileImage" content="/assets/branding/logos/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/assets/branding/logos/favicon/browserconfig.xml">
<meta name="theme-color" content="#666666">
<!--<link href="/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />-->
<link href="/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
<!-- end custom head snippets -->
